.main_body {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  background-color: rgb(0, 1, 45);
  color: rgb(255, 255, 255);
  padding-top: 10vh;

  text-align: center;
}

.first_collumn_body {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding-top: 10vh;
  padding-bottom: 20vh;
}

.second_collumn_body {
  color: rgb(217, 217, 217);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 padding-left: 10%;
}

.text_to_start {
  text-align: left;
}

.first_body {
  flex-grow: 1;
}

.second_body {
  align-content: center;
  text-align: start;
  flex-grow: 2;
}

.border {
  border-left: gray 1px solid;
}

.box {
  max-width: 20vh;




  border-color: aliceblue;
}

.h1 {
  font-size: 40px;
}

.h2 {
  margin: 0px;
}

.third_body {
  padding-bottom: 10vh;
  padding-top: 20vh;
}

.first_button {
  background-color: rgb(0, 0, 0, 0.3);

  border-radius: 10px;
  border-color: rgb(10, 10, 84);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;

  color: aliceblue;
  font-size: 15px;
}

.questions_body {
  padding-top: 10vh;
  text-align: left;
  padding-left: 15%;
  padding-bottom: 10vh;
}

.questions_boxes {
  border-bottom: gray 1px solid;

  max-width: 80%;
}

.questions {
  padding: 10px;
  padding-left: 0;
  padding-bottom: 0px;
  font-size: 18px;

}

.answers {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

.q_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}